<p id="notice"><%= notice %></p>

<p>
  <b>Imie:</b>
  <%= @user.imie %>
</p>

<p>
  <b>Book:</b>
  <%= @user.book_id %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
