<h1>Nowa ksiazka</h1>
<%= form_for(@book) do |f| %>
 <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
<%end%>
<%= link_to 'Strona glowna', books_path %>
